# editor
.vscode/
.idea/
.ipynb*
*.ipynb

# virtual environments
.envrc
.direnv/
.venv*/
venv*/

# byte-compiled / optimized / DLL files
__pycache__/

# distribution / packaging
dist/
pip-wheel-metadata/
*.egg-info/

# test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.mypy_cache/
.pytest_cache/

# misc
docs/termshot*
docs/conanfile*
