repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^tests/output/
      - id: trailing-whitespace
        exclude: ^tests/output/
  - repo: "https://github.com/psf/black"
    rev: 22.12.0
    hooks:
      - id: black
  - repo: "https://github.com/PyCQA/isort"
    rev: 5.11.2
    hooks:
      - id: isort
  - repo: "https://github.com/PyCQA/flake8"
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=100]
        additional_dependencies:
          - flake8-bugbear
          - flake8-builtins
          - flake8-comprehensions
          - flake8-logging-format
          - flake8-pytest-style
          - flake8-simplify
  - repo: "https://github.com/PyCQA/pylint"
    rev: v2.15.8
    hooks:
      - id: pylint
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: v0.991
    hooks:
      - id: mypy
